.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0px; 
  font-size: 10px;
}

div.logo {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.caption {
  display: block;
}

#logoimage{
  width: 60px;
  height: 60px;
  background-color:white;
}

.software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #645beb;
}
